//Filters
.popper-iphonq{
    background-color: white;
}
.popper-marcas{
    width: 375px;
    .btn{
        width: 100%;
        outline: none;
        -moz-outline-style: none !important;
    }
    .collp-icon_f:before{
        color:white;
        margin-bottom: -2px;
    }
    .collp-icon_f{
        background-color: $color1;
        height: 20px;
        width: 20px;
        text-align: center;
    }
    .hr-separator{
        width: 100%;
        object-fit: contain;
        border: solid 0.5px #DEDEDE;
        margin: 0;
    }
}
.popper-marcas:after{
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    //bottom: calc(-46% - 4px);
    top: -32px;
    border-width: 17px;
    border-left-width: 42px;
    border-right-width: 42px;
}
