@font-face{
    font-family:"Roboto-regular";
    src: url("./Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family:"Roboto-bold";
    src: url("./Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family:"Roboto-medium";
    src: url("./Roboto/Roboto-Medium.ttf");
}
@font-face{
    font-family:"Roboto-black";
    src: url("./Roboto/Roboto-Black.ttf");
}
@font-face{
    font-family:"Roboto-light";
    src: url("./Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family:"Roboto-thin";
    src: url("./Roboto/Roboto-Thin.ttf");
}

.roboto-regular{
    font-family:"Roboto-regular";
}
.roboto-bold{
    font-family:"Roboto-bold";
}
.roboto-medium{
    font-family:"Roboto-medium";
}
.roboto-black{
    font-family:"Roboto-black";
}
.roboto-light{
    font-family:"Roboto-light";
}
.roboto-thin{
    font-family:"Roboto-thin";
}
